include header

body
  .page-heading.header-text
    .row
      span.breadcrumb
        a(href="/") Torna alla Home
      h3= title

  .single-property.section
    .container
      .row
        .col-lg-8
          .main-image
            img(src=img alt="")
          .main-content
            span.category= category
            p= article

        .col-lg-4
          .info-table
            // TODO: Inserimento mappa locazione struttura
            ul
              each randinfo in randinfos
                li
                  img(src=randinfo.img alt="" style="max-width: 52px;")
                  h4= randinfo.information
                    br
                    span= randinfo.label
            

  include footer
