doctype html
html
  head
    include header

  body
    .page-heading.header-text
      .row
        span.breadcrumb
          a(href="/") Torna alla Home
        h3= data.randinfos[0].title

    .single-property.section
      .container
        .row
          .col-lg-8
            .main-image
              img(src="/image/" + data.randinfos[0].image alt="")
          .col-lg-4
            .info-table
              ul
                each randinfo in data.randinfos
                  li
                    img(src="/image/" + randinfo.icon alt="" style="max-width: 52px;")
                    h4= randinfo.information
                      br
                      span= randinfo.label
        .row
          .col-lg-10
            .main-content
              span.category= data.randinfos[0].category
              div
                #map(style='width: 100%; height: 400px;')
                script!="document.addEventListener('DOMContentLoaded', function() {var coordsX = " + data.randinfos[0].coords_X + ";var coordsY = " + data.randinfos[0].coords_Y + ";var map = L.map('map').setView([coordsX, coordsY], 18);L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {maxZoom: 19,attribution: '© OpenStreetMap'}).addTo(map);});"
              div!= data.randinfos[0].article
              
    include footer.pug
